<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<add key="caminhoBanco" value="C:\temp\" />
		<add key="nomeBancoPeriodos" value="periodos.csv"/>
		<add key="nomeBancoCursos" value="cursos.csv"/>
		<add key="nomeBancoDisciplinas" value="disciplinas.csv"/>
	</appSettings>
</configuration>
